*{
    font-family: cursive;
}
.row .col.s3{
    /* margin-left: initial!important; */

}
.cell{
    margin:5px;
    width:calc(100% - 76%)!important;
    height:20vh;
    font-size: 2rem;
    text-align: center;
    vertical-align: 3rem;
}
.text{
    float:center;
    display: block;
    margin:auto;
}